/*    REFERENCES    */
/*    SELECTOR     */ /*    EXAMPLE     */ /*                  DESCRIPTION                   */
/*    element     */ /*        p       */ /*            Selects all <p> elements            */
/*      #id      */ /*   #firstname   */ /*    Selects the element with id="firstname"     */
/*      *       */ /*        *       */ /*            Selects all elements                */
/*   .class    */ /*     .intro     */ /*   Selects all elements with class="intro"      */
/*   .class    */ /*    p.intro    */ /*  Selects all <p> elements with class="intro"   */

html{
    background-color:#f2f4f8;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif; 
}


h3.uk-card-title{    
    font-family: 'Roboto',sans-serif;
    font-weight: 800;
    font-size: 42px;
    color:#21272A;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #666;
}

.create-acc-card{
    width: 750px; 
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
}

::placeholder{
    font-size: 13px;
}

.signup-btn-div{
    margin-top: 50px !important; 
}

.login-btn-div{
    margin-top: 50px !important; 
}

.login-redirect-txt{
    width: inherit;
}

.signup-redirect-txt{
    width: inherit;
}

.forgotPass-btn{
    color: #001D6C;
}


.footer{    
    width:auto;
    text-align: center;
    background-color: #1a202c;
    padding: 2%;
}

.footer-text{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-bottom: 0px;
}

.password-input {
    padding-right: 40px; /* Space for the icon */
}

/* Position the eye icon inside the input */
.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 18px;
}

/* Ensure the parent wrapper is relative */
.uk-inline {
    position: relative;
}

/* Change icon color on hover */
.toggle-password:hover {
    color: #000;
}
